doctype html
html
    head
        title About the team
        include ./head.pug
        link(rel='stylesheet', href='/css/about.css')
    body.is-preload
        include ./menu.pug
        section.wrapper
            .inner
                header.special
                    br
                    br
                    br
                    h2 About the Team
                    p(style='font-size:20px;')
                        | Great things in business are never done by one person. They're done by a team of people.
                        br
                        | - Steve Jobs
                .row
                .testimonials(style='padding-left:150px;')
                    .col.s5.section(style='width:490px;')
                        .content(style='background-color: #eeeeee;')
                            blockquote
                                p
                                    | Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.
                            .author
                                .image
                                    img(src='images/pic03.jpg', alt='')
                                p.credit
                                    | -
                                    strong Sagar Chaudhari
                                    span
                                        br
                                        | B.Arch  , M.Arch (U.D)
                                        br
                                        | Head, Sparc Associates
                            //#social-bar(style='margin-left: 50px;')
                                a(href='#', target='_blank', style='margin-left: 20px;')
                                    i.fa.fa-facebook
                                a(href='#', target='_blank', style='margin-left: 20px;')
                                    i.fa.fa-twitter
                                a(href='#', target='_blank', style='margin-left: 20px;')
                                    i.fa.fa-dribbble
                                a(href='#', style='margin-left: 20px;')
                                    i.fa.fa-codepen
                    section(style='width:490px;')
                        .content(style='background-color: #eeeeee;')
                            blockquote
                                p
                                    | Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non
                            .author
                                .image
                                    img(src='images/pic01.jpg', alt='')
                                p.credit
                                    | -
                                    strong Shivani Bopche
                                    span
                                        br
                                        | B.Arch (I.D) , M.Arch (U.D)
                                        br
                                        | Head, Sparc Associates
                            //#social-bar(style='margin-left: 50px;')
                                a(href='#', target='_blank', style='margin-left: 20px;')
                                    i.fa.fa-facebook
                                a(href='#', target='_blank', style='margin-left: 20px;')
                                    i.fa.fa-twitter
                                a(href='#', target='_blank', style='margin-left: 20px;')
                                    i.fa.fa-dribbble
                                a(href='#', style='margin-left: 20px;')
                                    i.fa.fa-codepen
                .row
                .testimonials(style='padding-left:150px;')
                    .col.s5.section(style='width:490px;')
                        .content(style='background-color: #eeeeee;')
                            blockquote
                                p
                                    | Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.
                            .author
                                .image
                                    img(src='images/pic03.jpg', alt='')
                                p.credit
                                    | -
                                    strong Mrs. Manisha Chaudhari
                                    span
                                        br
                                        | Vastu Consultant
                                        br
                                        | (Diploma in Vastushastra)
                                        br
                                        | D.C.E (CIVIL) ,LLB, MBA
                            //#social-bar(style='margin-left: 50px;')
                                a(href='#', target='_blank', style='margin-left: 20px;')
                                    i.fa.fa-facebook
                                a(href='#', target='_blank', style='margin-left: 20px;')
                                    i.fa.fa-twitter
                                a(href='#', target='_blank', style='margin-left: 20px;')
                                    i.fa.fa-dribbble
                                a(href='#', style='margin-left: 20px;')
                                    i.fa.fa-codepen
                    section(style='width:490px;')
                        .content(style='background-color: #eeeeee;')
                            blockquote
                                p
                                    | Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.
                            .author
                                .image
                                    img(src='images/pic01.jpg', alt='')
                                p.credit
                                    | -
                                    strong Mr. Sudhir Mokase
                                    span
                                        br
                                        | Project Management Consultant
                                        br
                                        | Sparc Associates
                            //#social-bar(style='margin-left: 50px;')
                                a(href='#', target='_blank', style='margin-left: 20px;')
                                    i.fa.fa-facebook
                                a(href='#', target='_blank', style='margin-left: 20px;')
                                    i.fa.fa-twitter
                                a(href='#', target='_blank', style='margin-left: 20px;')
                                    i.fa.fa-dribbble
                                a(href='#', style='margin-left: 20px;')
                                    i.fa.fa-codepen
                .row
                .testimonials.center(style='padding-left:450px;')
                    .col.s12.section.center(style='width:490px;')
                        .content(style='background-color: #eeeeee;')
                            blockquote
                                p
                                    | Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.
                            .author
                                .image
                                    img(src='images/pic03.jpg', alt='')
                                p.credit
                                    | -
                                    strong Mr. Nikhil Jichkar
                                    span
                                        br
                                        | Finance Consultant
                                        br
                                        | Sparc Associates
                            //#social-bar(style='margin-left: 50px;')
                                a(href='#', target='_blank', style='margin-left: 20px;')
                                    i.fa.fa-facebook
                                a(href='#', target='_blank', style='margin-left: 20px;')
                                    i.fa.fa-twitter
                                a(href='#', target='_blank', style='margin-left: 20px;')
                                    i.fa.fa-dribbble
                                a(href='#', style='margin-left: 20px;')
                                    i.fa.fa-codepen

        include ./footer.pug
