doctype html
html
    head
        title About
        include ./head.pug

    body
        include ./menu.pug

        #index-banner.parallax-container.valign-wrapper
            .container
                .row
                    .col.s12.center
                        h1.header.center.teal-text.text-lighten-2 About SpArc

                .row
                    .col.s12.center
                        h5.header.col.s12.light Description
            .parallax
                img(src="/images/download.jpg")


        .container
            .section
                .row
                    .col.s12.center
                        h3 History
                        h4.p.left-align Dipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae


        .parallax-container.valign-wrapper
            .container
                h1.header.center.teal-text.text-lighten-2 Team Members
            .parallax
                img(src="/images/background2.jpg")


        .container
            .section
                .row
                    .col.s12.center
                        h4.p.left-align We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.


    .container
        .row
            .col..s4.m4
                .card
                    .card-image.waves-effect.waves-block.waves-light
                         img.activator(src='images/landscaping.jpg')
                    .card-content
                        span.card-title.activator.center.grey-text.text-darken-4 OWNER
                    .card-reveal.white.lighten-4.black-text
                        span.card-title.grey-text.text-darken-4.center
                            | OWNER
                            i.material-icons.right close
                        table.centered.highlight
                            tbody
                                p information
        .row
            .col.center.s12.m4
                .card
                    .card-image.waves-effect.waves-block.waves-light
                        img.activator(src='images/landscaping.jpg')
                    .card-content
                        span.card-title.center.activator.grey-text.text-darken-4 TUSHAR JOSHI
                    .card-reveal.white.lighten-4.black-text
                        span.card-title.center
                            | TUSHAR JOSHI
                            i.material-icons.right close
                        p
                            table.centered.highlight
                                tbody
                                    p INFORMATION
            .col.center.s12.m4
                .card
                    .card-image.waves-effect.waves-block.waves-light
                        img.activator(src='images/landscaping.jpg')
                    .card-content
                        span.card-title.activator.center.grey-text.text-darken-4 PIYUSH JOSHI
                    .card-reveal.white.lighten-4.black-text
                        span.card-title.grey-text.text-darken-4.center
                            | PIYUSH JOSHI
                            i.material-icons.right close
                        table.centered.highlight
                            tbody
                                p information
            .col.center.s12.m4
                .card
                    .card-image.waves-effect.waves-block.waves-light
                        img.activator(src='images/landscaping.jpg')
                    .card-content
                        span.card-title.activator.grey-text.center.text-darken-4 KRUSHN DAYSHMOOKH
                    .card-reveal.white.lighten-4.black-text
                        span.card-title.grey-text.text-darken-4.center
                            | KRUSHN DAYSHMOOKH
                            i.material-icons.right close
                        table.centered.highlight
                            tbody
                                p information






