doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Add Product
        link(rel='stylesheet prefetch', href='https://fonts.googleapis.com/icon?family=Material+Icons')
        link(rel='stylesheet prefetch', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css')
    body(style='max-height: 100vh;')
        h1(style='text-align: center;')  ADD Product
        br
        form.container(action='/product/create', method='POST')
            .row(style='height: 100px;')
                .input-field.col.s12
                    textarea#name.materialize-textarea(length='100')
                    label(for='name') Product Name
            .row(style='height: 100px;')
                .input-field.col.s12
                    textarea#description.materialize-textarea(lenght='1000')
                    label(for='description')  Details
            .row(style='height: 100px;')
                .input-field.col.s6
                    textarea#description.materialize-textarea(lenght='1000')
                    label(for='description')  Cost
                .col.s6
                    select.select_all(multiple='')
                        option(value='', disabled='', selected='') Material
                        option(value='1') Material Name
                        option(value='2') Material Name
                        option(value='3') Material Name
                        option(value='4') Material Name
                        option(value='5') Material Name
            .file-field.input-field
                .btn
                    span Upload Image
                    input(type='file')
                .file-path-wrapper
                    input.file-path.validate(type='text')
            br
            br
            button.waves-effect.waves-light.btn(type='submit', style=' background-color: deepskyblue; margin-left:200px;')
                i.material-icons.right arrow_upward
                | Upload Product
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js')
        script(src='/js/addpro.js')
