doctype html
html(lang='en')
    head
        title admin | panel
        link(rel='stylesheet', href='/css/admin.css')
    body
        include./menu.pug
        .form-structor
            .signup
                h2#signup.form-title SpArc
                .form-holder
            .login.slide-up
                .center
                    h2#login.form-title Log in
                    .form-holder
                        input#username.input(type='text', placeholder='username')
                        input#password.input(type='password', placeholder='Password')
                    button.submit-btn(onclick='validate()') Log in
            script.
                function validate() {
                console.log("Enter val");
                var username = document.getElementById("username").value;
                var password = document.getElementById("password").value;
                if (((username == "Sagar") && (password == "SpArc")) || ((username == "Shivani") && (password == "SpArc"))) {
                window.location = "dashboard";
                }
                }

script(src='/js/admin.js')
        include./menu.pug
