html(lang='en')
    head
        meta(charset='UTF-8')
        include ./head.pug
        title Contact | SpArc
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        link(rel='stylesheet prefetch', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css')
        link(rel='stylesheet', href='/css/contact.css')
    style.
        .btn {
        background-color: deepskyblue;
        }
    body
        // Header
        // Content
        include ./menu.pug
        .parallax-container.center.valign-wrapper
            .container
                .row
                    .col.s12.white-text
                        h2.white-text Get In Touch
            .parallax
                img(src='/images/colab.jpg')
        .container
            .row
            br
            br
            br
            br
            br
            .row
                .col.s12
                    form.col.s12
                        .row
                            .col.s12.input-field
                                i.material-icons.prefix.light-blue-text short_text
                                input#example.validate(name='example', type='text', required='', aria-required='true', placeholder='Name')
                            .col.s6.input-field
                                i.material-icons.prefix.light-blue-text mail_outline
                                input#email2.validate(type='email', required='', aria-required='true', placeholder='E-mail')
                            .col.s6.input-field
                                i.material-icons.prefix.light-blue-text phone
                                input#icon_telephone.validate(type='tel', placeholder='Telephone')
                            .col.s12.input-field.col.s12
                                i.material-icons.prefix.light-blue-text space_bar
                                textarea#address.materialize-textarea(placeholder='Comments')
            a.waves-effect.waves-light.btn(style=' background-color: deepskyblue;')
                i.material-icons.right send
                | Submit
            br
            br
            br
            br
        iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3721.9710859505967!2d79.04725481471043!3d21.11371889024891!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bd4bf8930ef9dbb%3A0xb6983559d82481c4!2sSpArc+Associates+(Architects%2C+Planners%2C+Interior+Designers)!5e0!3m2!1sen!2sin!4v1527303524619', width='1450', height='600', frameborder='0', style='border:0', allowfullscreen='')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js')
        script(src='/js/contact.js')
