html
    head
        title  Dashboard | SpArc
        include ./head.pug
    body(style='background-color:white;')
        include ./menu.pug
        

        .container
            h2.center Dashboard

            .row
                
                .col.s4
                    a(style='color: black')
                        .card.grey.lighten-2(style='width: 300px;')
                            .card-content.black-text
                                span.card-title Enquiries
                                p
                                    | I am a very simple card. I am good at containing small bits of information.
                                    br
                                    br
                                    a.col.s6(style='color: black', href='#')  Add
                                    a.col.s6(style='color: black', href='#')  Delete
                                    
                .col.s4
                    .card
                        .card-image
                            img(src='/images/download.jpg')
                            span.card-title Projects
                        .card-action.row
                                a.col.s4.btn.btn-flat.waves-effect.waves0-red(href='#') View

                                
                .col.s4
                    .card
                        .card-image
                            img(src='/images/download.jpg')
                            span.card-title Projects
                        .card-action.row
                                a.col.s4.btn.btn-flat.waves-effect.waves0-red(href='#') View

        include  ./footer.pug
