doctype html
html
    head
        title  Dashboard
        include ./head.pug

    body(style='background-color:white;')
        include ./menu.pug

        .container.white(style='height: 100px; width: 100vw;')
            h5(style='text-align: center; padding-top: 29px; font-size: 40px; color: black;') SpArc
        .container#lol(style='width: 90vw;')
            .row(style='text-align:center; padding-left:80px')
                .col.s4
                    a(style='color: black;' href='#')
                        .card.grey.lighten-2(style='width: 330px;')
                            .card-content.white-text
                                a.span.card-title#title(href='/projects/edit') Projects
                                p(style='color:black;')
                                    | Details Regarding the Projects.
                                    br
                                    br
                                a.waves-effect.waves-light.btn.blue.lighten-2(href='/product/create') add
                .col.s4
                    a(style='color: black;')
                        .card.grey.lighten-2(style='width: 330px;')
                            .card-content.white-text
                                a.span.card-title#title(href='/products/edit') Product
                                p(style='color:black;')
                                    | Details Regarding the Projects.
                                    br
                                    br
                                a.waves-effect.waves-light.btn.blue.lighten-2(href='/product/create') add
                .col.s4
                    a(style='color: black;')
                        .card.grey.lighten-2(style='width: 300px;')
                            .card-content.black-text
                                a.span.card-title#title(href='#') Enquiries
                                p(style='color:black;')
                                    | Details Regarding the Enquiries.
                                    br
                                    br
<<<<<<< HEAD
                                    a.col.s6(style='color: black', href='#')  Add
                                    a.col.s6(style='color: black', href='#')  Delete
        include ./footer.pug
=======
                                a.waves-effect.waves-light.btn.blue.lighten-2(href='/product/create') view
>>>>>>> origin/master
