doctype html
html
    head

        title E-comm
        include ./head.pug
        link(type="text/css", rel="stylesheet", href="/css/e-comm.css")
    body

    include ./menu.pug
    figure.snip1268
      .image
        img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample4.jpg" alt="sq-sample4")
        .icons
          a(href="#")
            i.ion-star
          a(href="#")
            i.ion-share
          a(href="#")
            i.ion-search
        a.add-to-cart(href="#") Add to Cart
      figcaption
        h2 Denim Shirt
        p
          | My family is dysfunctional and my parents won't empower me. Consequently I'm not self actualized.
        .price $65.00
    figure.snip1268.hover
      .image
        img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample17.jpg" alt="sq-sample17")
        .icons
          a(href="#")
            i.ion-star
          a(href="#")
            i.ion-share
          a(href="#")
            i.ion-search
        a.add-to-cart(href="#") Add to Cart
      figcaption
        h2 Winter Clothes
        p
          | If something is so complicated that you can't explain it in 10 seconds, then it's probably not worth knowing anyway.
        .price $75.00
    figure.snip1268
      .image
        img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample15.jpg" alt="sq-sample15")
        .icons
          a(href="#")
            i.ion-star
          a(href="#")
            i.ion-share
          a(href="#")
            i.ion-search
        a.add-to-cart(href="#") Add to Cart
      figcaption
        h2 Footwear
        p
          | Miss Wormwood: What state do you live in? Calvin: Denial. Miss Wormwood: I don't suppose I can argue with that!
        .price $195.00


