html
  body
    .wrapper
      .container
        .top
        .bottom
          .left
            .details
              h1 Chair
              p £250
            .buy
              i.material-icons add_shopping_cart
          .right
            .done
              i.material-icons done
            .details
              h1 Chair
              p Added to your cart
            .remove
              i.material-icons clear
      .inside
        .icon
          i.material-icons info_outline
        .contents
          table
            tr
              th Width
              th Height
            tr
              td 3000mm
              td 4000mm
            tr
              th Something
              th Something
            tr
              td 200mm
              td 200mm
            tr
              th Something
              th Something
            tr
              td 200mm
              td 200mm
            tr
              th Something
              th Something
            tr
              td 200mm
              td 200mm
