doctype html
html
    head
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.0.10/css/all.css', integrity='sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg', crossorigin='anonymous')
        link(href='https://fonts.googleapis.com/css?family=Raleway', rel='stylesheet')
        link(type='text/css', rel='stylesheet', href='css/materialize.min.css', media='screen,projection')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')

    body(style='font-family: Raleway; color:white')
        footer.page-footer(style="background-image: url('qql.jpg'); background-size: 100%;")
            .container
                h5.center We shape our buildings,thereafter they shape us
                p.center Live Internationally.Live Authentically
                a.btn-floating.waves-effect.waves-white.white.btn-floating.btn-floating.pulse(href='http://www.facebook.com/#link', style='color: white')
                    img(src='f3.png')
                a.btn-floating.waves-effect.waves-.white.btn-floating.btn-floating.pulse(href='http://twitter.com/#link')
                    img(src='t2.png')
                a.btn-floating.waves-effect.waves-white.white.btn-floating.btn-floating.pulse(href='http://www.instagram.com/#link')
                    img(src='insta.png ')
                a.btn-floating.waves-effect.waves-white.white.btn-floating.btn-floating.pulse(href='/#link')
                    img(src='e3.png')
                a.btn-floating.waves-effect.waves-white.white.btn-floating.btn-floating.pulse(href='ContactFrom_v18/index.html')
                    img(src='call.png')


    script(type='text/javascript', src='js/materialize.min.js')

