doctype html
html(lang='en-us')
    head
        meta(charset='utf-8')
        title Gallery

        link(rel='stylesheet', href='/css/lightbox.min.css')

        style.
            * {
            font-family: 'Raleway', sans-serif;
            }
    body
        section
            br
            br
            .container
                h3(style='padding: 0px;') Architecture
            br
            .container(style='width: 100vw; overflow-x: scroll;')
                .row(style='width: 3200px;')
                    .col(style='height: 300px; width: 400px; overflow: hidden; align-content: center;')
                        a.example-image-link(href='/images/img6.jpg', data-lightbox='example-set', data-title='Click the right half of the image to move forward.', style=' overflow: hidden;')
                            img.example-image(src='/images/img6.jpg', alt='')
                    .col(style='height: 300px; width: 400px; overflow: hidden; align-content: center;')
                        a.example-image-link(href='/images/img7.jpg', data-lightbox='example-set', data-title='Or press the right arrow on your keyboard.', style=' overflow: hidden;')
                            img.example-image(src='/images/img7.jpg', alt='')
                    .col(style='height: 300px; width: 400px; overflow: hidden; align-content: center;')
                        a.example-image-link(href='/images/img8.jpg', data-lightbox='example-set', data-title="The next image in the set is preloaded as you're viewing.", style=' overflow: hidden;')
                            img.example-image(src='/images/img8.jpg', alt='')
                    .col(style='height: 300px; width: 400px; overflow: hidden; align-content: center;')
                        a.example-image-link(href='/images/img9.jpg', data-lightbox='example-set', data-title='Click anywhere outside the image or the X to the right to close.', style=' overflow: hidden;')
                            img.example-image(src='/images/img9.jpg', alt='')
                    .col(style='height: 300px; width: 400px; overflow: hidden; align-content: center;')
                        a.example-image-link(href='/images/img6.jpg', data-lightbox='example-set', data-title='Click the right half of the image to move forward.', style=' overflow: hidden;')
                            img.example-image(src='/images/img6.jpg', alt='')
                    .col(style='height: 300px; width: 400px; overflow: hidden; align-content: center;')
                        a.example-image-link(href='/images/img7.jpg', data-lightbox='example-set', data-title='Or press the right arrow on your keyboard.', style=' overflow: hidden;')
                            img.example-image(src='/images/img7.jpg', alt='')
                    .col(style='height: 300px; width: 400px; overflow: hidden; align-content: center;')
                        a.example-image-link(href='/images/img8.jpg', data-lightbox='example-set', data-title="The next image in the set is preloaded as you're viewing.", style=' overflow: hidden;')
                            img.example-image(src='/images/img8.jpg', alt='')
                    .col(style='height: 300px; width: 400px; overflow: hidden; align-content: center;')
                        a.example-image-link(href='/images/img5.jpg', data-lightbox='example-set', data-title='Click anywhere outside the image or the X to the right to close.', style=' overflow: hidden;')
                            img.example-image(src='/images/img5.jpg', alt='')
        section
            br
            br
            .container
                h3(style='padding: 0px;') Farm House
            br
            .container(style='width: 100vw; overflow-x: scroll;')
                .row(style='width: 3200px;')
                    .col(style='height: 300px; width: 400px; overflow: hidden; align-content: center;')
                        a.example-image-link(href='/images/img6.jpg', data-lightbox='example-set', data-title='Click the right half of the image to move forward.', style=' overflow: hidden;')
                            img.example-image(src='/images/img6.jpg', alt='')
                    .col(style='height: 300px; width: 400px; overflow: hidden; align-content: center;')
                        a.example-image-link(href='/images/img7.jpg', data-lightbox='example-set', data-title='Or press the right arrow on your keyboard.', style=' overflow: hidden;')
                            img.example-image(src='/images/img7.jpg', alt='')
                    .col(style='height: 300px; width: 400px; overflow: hidden; align-content: center;')
                        a.example-image-link(href='/images/img8.jpg', data-lightbox='example-set', data-title="The next image in the set is preloaded as you're viewing.", style=' overflow: hidden;')
                            img.example-image(src='/images/img8.jpg', alt='')
                    .col(style='height: 300px; width: 400px; overflow: hidden; align-content: center;')
                        a.example-image-link(href='/images/img9.jpg', data-lightbox='example-set', data-title='Click anywhere outside the image or the X to the right to close.', style=' overflow: hidden;')
                            img.example-image(src='/images/img9.jpg', alt='')
                    .col(style='height: 300px; width: 400px; overflow: hidden; align-content: center;')
                        a.example-image-link(href='/images/img6.jpg', data-lightbox='example-set', data-title='Click the right half of the image to move forward.', style=' overflow: hidden;')
                            img.example-image(src='/images/img6.jpg', alt='')
                    .col(style='height: 300px; width: 400px; overflow: hidden; align-content: center;')
                        a.example-image-link(href='/images/img7.jpg', data-lightbox='example-set', data-title='Or press the right arrow on your keyboard.', style=' overflow: hidden;')
                            img.example-image(src='/images/img7.jpg', alt='')
                    .col(style='height: 300px; width: 400px; overflow: hidden; align-content: center;')
                        a.example-image-link(href='/images/img8.jpg', data-lightbox='example-set', data-title="The next image in the set is preloaded as you're viewing.", style=' overflow: hidden;')
                            img.example-image(src='/images/img8.jpg', alt='')
                    .col(style='height: 300px; width: 400px; overflow: hidden; align-content: center;')
                        a.example-image-link(href='/images/img5.jpg', data-lightbox='example-set', data-title='Click anywhere outside the image or the X to the right to close.', style=' overflow: hidden;')
                            img.example-image(src='/images/img5.jpg', alt='')
        section
            br
            br
            .container
                h3(style='padding: 0px;') Bunglows
            br
            .container(style='width: 100vw; overflow-x: scroll;')
                .row(style='width: 3200px;')
                    .col(style='height: 300px; width: 400px; overflow: hidden; align-content: center;')
                        a.example-image-link(href='/images/img6.jpg', data-lightbox='example-set', data-title='Click the right half of the image to move forward.', style=' overflow: hidden;')
                            img.example-image(src='/images/img6.jpg', alt='')
                    .col(style='height: 300px; width: 400px; overflow: hidden; align-content: center;')
                        a.example-image-link(href='/images/img7.jpg', data-lightbox='example-set', data-title='Or press the right arrow on your keyboard.', style=' overflow: hidden;')
                            img.example-image(src='/images/img7.jpg', alt='')
                    .col(style='height: 300px; width: 400px; overflow: hidden; align-content: center;')
                        a.example-image-link(href='/images/img8.jpg', data-lightbox='example-set', data-title="The next image in the set is preloaded as you're viewing.", style=' overflow: hidden;')
                            img.example-image(src='/images/img8.jpg', alt='')
                    .col(style='height: 300px; width: 400px; overflow: hidden; align-content: center;')
                        a.example-image-link(href='/images/img9.jpg', data-lightbox='example-set', data-title='Click anywhere outside the image or the X to the right to close.', style=' overflow: hidden;')
                            img.example-image(src='/images/img9.jpg', alt='')
                    .col(style='height: 300px; width: 400px; overflow: hidden; align-content: center;')
                        a.example-image-link(href='/images/img6.jpg', data-lightbox='example-set', data-title='Click the right half of the image to move forward.', style=' overflow: hidden;')
                            img.example-image(src='/images/img6.jpg', alt='')
                    .col(style='height: 300px; width: 400px; overflow: hidden; align-content: center;')
                        a.example-image-link(href='/images/img7.jpg', data-lightbox='example-set', data-title='Or press the right arrow on your keyboard.', style=' overflow: hidden;')
                            img.example-image(src='/images/img7.jpg', alt='')
                    .col(style='height: 300px; width: 400px; overflow: hidden; align-content: center;')
                        a.example-image-link(href='/images/img8.jpg', data-lightbox='example-set', data-title="The next image in the set is preloaded as you're viewing.", style=' overflow: hidden;')
                            img.example-image(src='/images/img8.jpg', alt='')
                    .col(style='height: 300px; width: 400px; overflow: hidden; align-content: center;')
                        a.example-image-link(href='/images/img5.jpg', data-lightbox='example-set', data-title='Click anywhere outside the image or the X to the right to close.', style=' overflow: hidden;')
                            img.example-image(src='/images/img5.jpg', alt='')
        section
            br
            br
            .container
                h3(style='padding: 0px;') Commercial
            br
            .container(style='width: 100vw; overflow-x: scroll;')
                .row(style='width: 250vw;')
                    .col(style='height: 300px; width: 400px; overflow: hidden; align-content: center;')
                        a.example-image-link(href='/images/img6.jpg', data-lightbox='example-set', data-title='Click the right half of the image to move forward.', style=' overflow: hidden;')
                            img.example-image(src='/images/img6.jpg', alt='')
                    .col(style='height: 300px; width: 400px; overflow: hidden; align-content: center;')
                        a.example-image-link(href='/images/img7.jpg', data-lightbox='example-set', data-title='Or press the right arrow on your keyboard.', style=' overflow: hidden;')
                            img.example-image(src='/images/img7.jpg', alt='')
                    .col(style='height: 300px; width: 400px; overflow: hidden; align-content: center;')
                        a.example-image-link(href='/images/img8.jpg', data-lightbox='example-set', data-title="The next image in the set is preloaded as you're viewing.", style=' overflow: hidden;')
                            img.example-image(src='/images/img8.jpg', alt='')
                    .col(style='height: 300px; width: 400px; overflow: hidden; align-content: center;')
                        a.example-image-link(href='/images/img9.jpg', data-lightbox='example-set', data-title='Click anywhere outside the image or the X to the right to close.', style=' overflow: hidden;')
                            img.example-image(src='/images/img9.jpg', alt='')
                    .col(style='height: 300px; width: 400px; overflow: hidden; align-content: center;')
                        a.example-image-link(href='/images/img6.jpg', data-lightbox='example-set', data-title='Click the right half of the image to move forward.', style=' overflow: hidden;')
                            img.example-image(src='/images/img6.jpg', alt='')
                    .col(style='height: 300px; width: 400px; overflow: hidden; align-content: center;')
                        a.example-image-link(href='/images/img7.jpg', data-lightbox='example-set', data-title='Or press the right arrow on your keyboard.', style=' overflow: hidden;')
                            img.example-image(src='/images/img7.jpg', alt='')
                    .col(style='height: 300px; width: 400px; overflow: hidden; align-content: center;')
                        a.example-image-link(href='/images/img8.jpg', data-lightbox='example-set', data-title="The next image in the set is preloaded as you're viewing.", style=' overflow: hidden;')
                            img.example-image(src='/images/img8.jpg', alt='')
                    .col(style='height: 300px; width: 400px; overflow: hidden; align-content: center;')
                        a.example-image-link(href='/images/img5.jpg', data-lightbox='example-set', data-title='Click anywhere outside the image or the X to the right to close.', style=' overflow: hidden;')
                            img.example-image(src='/images/img5.jpg', alt='')
        script(src='../www/js/lightbox-plus-jquery.min.js')
