// These are the fonts, styles and scripts that are to be included in every page.

// Fonts

link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")

// Styles

link(type="text/css", rel="stylesheet", href="css/materialize.min.css")

// Scripts

script(src="js/materialize.min.js")
