// These are the fonts, styles and scripts that are to be included in every page.

// Fonts

link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")

link(href='https://fonts.googleapis.com/css?family=Raleway:100,300', rel='stylesheet')

link(rel='stylesheet', href='/css/svgicons.css')

// Styles

link(type="text/css", rel="stylesheet", href="/css/materialize.min.css")

link(type="text/css", rel="stylesheet", href="/css/style.css")


// Scripts

script(src="http://code.jquery.com/jquery-3.3.1.min.js")

script(src="/js/materialize.min.js")



