doctype html
html
    head

        title Welcome | SpArc
        include ./head.pug

        link(type="text/css", rel="stylesheet", href="/css/home.css")


    body

        include ./menu.pug

        .parallax-container.screen-height.valign-wrapper
            .container
                .row
                    img#intro-head.col.s10.push-s1.m8.push-m2.l6.push-l3(src='/images/logos/white-transparent.png')
            .parallax
                img(src='/images/art-background-decoration-354939.jpg', alt='Unsplashed background img 1')

        .container
            .section
                // Icon Section
                .row
                    .col.s12.m4
                        .icon-block
                            h2.center.brown-text
                                img(src='https://png.icons8.com/ios/50/000000/home.png')
                            h5.center Architecture
                            p.light Architecture starts when you carefully put two bricks together. There is begins.
                    .col.s12.m4
                        .icon-block
                            h2.center.brown-text
                                img(src='https://png.icons8.com/ios/50/000000/menu.png')
                            h5.center Interior
                            p.light Interior is the natural projection of the soul
                    .col.s12.m4
                        .icon-block
                            h2.center.brown-text
                                img(src='https://png.icons8.com/ios/50/000000/grass.png')
                            h5.center Landscaping
                            p.light In all things of nature there is something of the Marvelous

        .parallax-container.valign-wrapper
            .parallax
                img(src='/images/new_york_usa_city_top_view_119306_3840x2160.jpg', alt='Unsplashed background img 2')

        div(style='height: 220px; background-color: white;')
            .container
                .section
                    .row
                        .col.s12
                            h4.center About Us
                            p.left-align.light.center(style='font-size:20px;')
                                | SpArc Associates is a Nagpur-based collaborative firm for architectural, landscape and interior designing by a group of young creatively enthusiastic architects. The firm works on a wide array of projects ranging from building architecture
                                | to landscape and interior designs.
                                br

        .parallax-container.valign-wrapper
            .parallax
                img(src='/images/lamps.jpg', alt='Unsplashed background img 3')

        .container
            .section
                .row
                    .col.s12.center
                        h4 Products
                    .col.s4.center
                        img(src='/images/icons8-blockchain-new-logo-50.png')
                        | Lamps
                    .col.s4.center
                        img(src='/images/icons8-blockchain-new-logo-50.png')
                        | Furniture
                    .col.s4.center
                        img(src='/images/icons8-blockchain-new-logo-50.png')
                        | Ceiling Art

        .parallax-container.valign-wrapper
            .parallax
                img(src='/images/chuttersnap-517707-unsplash.jpg', alt='Unsplashed background img 3')

        include ./footer.pug

        script(src="/js/tilt.jquery.min.js")

        script(src='/js/home.js')
