doctype html
html
    head

        title Welcome | SpArc
        include ./head.pug

        link(type="text/css", rel="stylesheet", href="/css/home.css")


    body

        include ./menu.pug

        .parallax-container.screen-height.valign-wrapper
            .container
                .row
                    img#intro-head.col.s10.push-s1.m8.push-m2.l6.push-l3(src='/images/logos/white-transparent.png')
            .parallax
                img(src='/images/art-background-decoration-354939.jpg', alt='Unsplashed background img 1')

        .container
            .section
                // Icon Section
                .row
                    .col.s12.m4
                        .card
                            .card-image.waves-effect.waves-block.waves-light
                                img.activator(src="/images/architecture.jpg")
                            .card-content
                                span.card-title.center.activator.grey-text.text-darken-4 Architecture
                            .card-reveal.white.lighten-4.black-text
                                span.card-title.center Architecture
                                    i.material-icons.right close
                                .collection.center
                                    a.collection-item(href='#') Farm House
                                    a.collection-item(href='#') Bunglows
                                    a.collection-item(href='#') Commercial
                    .col.s12.m4
                        .card
                            .card-image.waves-effect.waves-block.waves-light
                                img.activator(src="/images/interior.jpg")
                            .card-content
                                span.card-title.activator.center.grey-text.text-darken-4 Interior
                            .card-reveal.white.lighten-4.black-text
                                span.card-title.center Interior
                                    i.material-icons.right close
                                .collection.center
                                    a.collection-item(href='#') Farm House
                                    a.collection-item(href='#') Bunglows
                                    a.collection-item(href='#') Commercial
                    .col.s12.m4
                        .card
                            .card-image.waves-effect.waves-block.waves-light
                                img.activator(src="/images/landscaping.jpg")
                            .card-content
                                span.card-title.activator.grey-text.center.text-darken-4 Landscaping
                            .card-reveal.white.lighten-4.black-text
                                span.card-title.center Landscaping
                                    i.material-icons.right close
                                .collection.center
                                    a.collection-item(href='#') Farm House
                                    a.collection-item(href='#') Bunglows
                                    a.collection-item(href='#') Commercial

        .parallax-container.valign-wrapper
            .parallax
                img(src='/images/new_york_usa_city_top_view_119306_3840x2160.jpg', alt='Unsplashed background img 2')

        .container
            .section
                .row
                    .col.s12
                        h4.center About Us
                        p.left-align.light.center SpArc Associates is a Nagpur-based collaborative firm for architectural, landscape and interior designing by a group of young creatively enthusiastic architects. The firm works on a wide array of projects ranging from building architecture to landscape and interior designs.

        .parallax-container.valign-wrapper
            .parallax
                img(src='/images/lamps.jpg', alt='Unsplashed background img 3')

        .container
            .section
                .row
                    .col.s12.center
                        h4 Products
                    .col.s4.center
                        img(src='/images/icons8-blockchain-new-logo-50.png')
                        | Lamps
                    .col.s4.center
                        img(src='/images/icons8-blockchain-new-logo-50.png')
                        | Furniture
                    .col.s4.center
                        img(src='/images/icons8-blockchain-new-logo-50.png')
                        | Ceiling Art

        .parallax-container.valign-wrapper
            .parallax
                img(src='/images/chuttersnap-517707-unsplash.jpg', alt='Unsplashed background img 3')

        include ./footer.pug

        script(src="/js/tilt.jquery.min.js")

        script(src='/js/home.js')
