nav.white
    .nav-wrapper
        .container
            a.brand-logo(href="#") SpArc
            ul#nav-mobile.right.hide-on-med-and-down
                li
                    a.brown-text(href="#") Home
                li
                    a.brown-text(href="#") Gallery
                li
                    a.brown-text(href="#") Shop
                li
                    a.brown-text(href="#") About
                li
                    a.brown-text(href="#") Contact
