.navbar-fixed
    nav.green
        .nav-wrapper
            .container
                a.brand-logo(href="#") SpArc
                ul#nav-mobile.right.hide-on-med-and-down
                    li
                        a(href="#") Home
                    li
                        a(href="#") Gallery
                    li
                        a(href="#") Shop
                    li
                        a(href="#") About
                    li
                        a(href="#") Contact
