html
    head
        title Support | SpArc
        include ./head.pug
    body
        include ./menu.pug
        section
            h3(style='text-align:center;') We're always here to help you!!
            br
            .row.container(style='padding-left:200px;')
                .input-field.col.s12(style='width:600px;')
                    input#icon_prefix.validate(type='email' class='validate')
                    label(for='icon_prefix') E-mail
                .input-field.col.s12(style='width:600px;')
                    input#icon_prefixx.validate(type='text' class='validate')
                    label(for='icon_prefixx') Comments
            .row.container
                .col.s4
                    .card
                        ul.collapsible
                            li
                                .collapsible-header
                                    svg(version='1.1', xmlns='http://www.w3.org/2000/svg',xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='24px', height='24px', viewbox='0 0 24 24', enable-background='new 0 0 24 24', xml:space='preserve')
                                        g#Bounding_Boxes
                                            g#ui_x5F_spec_x5F_header_copy_3
                                            path(fill='none', d='M0,0h24v24H0V0z')
                                        g#Outline
                                            g#ui_x5F_spec_x5F_header
                                            g
                                                path(d='M7,18c-2.21,0-4-1.79-4-4s1.79-4,4-4s4,1.79,4,4S9.21,18,7,18z M7,12c-1.1,0-2,0.9-2,2s0.9,2,2,2s2-0.9,2-2S8.1,12,7,12z')
                                                path(d='M11,10c-2.21,0-4-1.79-4-4s1.79-4,4-4s4,1.79,4,4S13.21,10,11,10z M11,4C9.9,4,9,4.9,9,6s0.9,2,2,2s2-0.9,2-2S12.1,4,11,4\
                                                z')
                                                path(d='M16.6,21.6c-2.21,0-4-1.79-4-4s1.79-4,4-4s4,1.79,4,4S18.81,21.6,16.6,21.6z M16.6,15.6c-1.1,0-2,0.9-2,2s0.9,2,2,2\
                                                s2-0.9,2-2S17.7,15.6,16.6,15.6z')
                                    ll Designers
                                .collapsible-body(style='border-bottom:6px solid lightgreen;border-right:6px solid lightgreen;')
                                    p
                                        a.teal-text.text-lighten-2(href='https://dayshmookh.github.io') R00t INC.

                .col.s4
                    .card
                        ul.collapsible
                            li
                                .collapsible-header
                                    svg(version='1.1', xmlns='http://www.w3.org/2000/svg',xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='24px', height='24px', viewbox='0 0 24 24', enable-background='new 0 0 24 24', xml:space='preserve')
                                        g#Bounding_Boxes
                                            g#ui_x5F_spec_x5F_header_copy_3
                                            path(fill='none', d='M0,0h24v24H0V0z')
                                        g#Outline
                                            g#ui_x5F_spec_x5F_header
                                            g
                                                path(d='M7,18c-2.21,0-4-1.79-4-4s1.79-4,4-4s4,1.79,4,4S9.21,18,7,18z M7,12c-1.1,0-2,0.9-2,2s0.9,2,2,2s2-0.9,2-2S8.1,12,7,12z')
                                                path(d='M11,10c-2.21,0-4-1.79-4-4s1.79-4,4-4s4,1.79,4,4S13.21,10,11,10z M11,4C9.9,4,9,4.9,9,6s0.9,2,2,2s2-0.9,2-2S12.1,4,11,4\
                                                z')
                                                path(d='M16.6,21.6c-2.21,0-4-1.79-4-4s1.79-4,4-4s4,1.79,4,4S18.81,21.6,16.6,21.6z M16.6,15.6c-1.1,0-2,0.9-2,2s0.9,2,2,2\
                                                s2-0.9,2-2S17.7,15.6,16.6,15.6z')
                                    ll Get in Touch
                                .collapsible-body(style='border-bottom:6px solid lightgreen;border-right:6px solid lightgreen;')
                                    p
                                        a.teal-text.text-lighten-2(href='mailto:sagar@gmail.com') ar.sagarchaudhari@gmail.com

                .col.s4
                    .card
                        ul.collapsible
                            li
                                .collapsible-header
                                    svg(version='1.1', xmlns='http://www.w3.org/2000/svg',xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='24px', height='24px', viewbox='0 0 24 24', enable-background='new 0 0 24 24', xml:space='preserve')
                                        g#Bounding_Boxes
                                            g#ui_x5F_spec_x5F_header_copy_3
                                            path(fill='none', d='M0,0h24v24H0V0z')
                                        g#Outline
                                            g#ui_x5F_spec_x5F_header
                                            g
                                                path(d='M7,18c-2.21,0-4-1.79-4-4s1.79-4,4-4s4,1.79,4,4S9.21,18,7,18z M7,12c-1.1,0-2,0.9-2,2s0.9,2,2,2s2-0.9,2-2S8.1,12,7,12z')
                                                path(d='M11,10c-2.21,0-4-1.79-4-4s1.79-4,4-4s4,1.79,4,4S13.21,10,11,10z M11,4C9.9,4,9,4.9,9,6s0.9,2,2,2s2-0.9,2-2S12.1,4,11,4\
                                                z')
                                                path(d='M16.6,21.6c-2.21,0-4-1.79-4-4s1.79-4,4-4s4,1.79,4,4S18.81,21.6,16.6,21.6z M16.6,15.6c-1.1,0-2,0.9-2,2s0.9,2,2,2\
                                                s2-0.9,2-2S17.7,15.6,16.6,15.6z')
                                    ll Talk with Us
                                .collapsible-body(style='border-bottom:6px solid lightgreen;border-right:6px solid lightgreen;')
                                    p
                                        a.teal-text.text-lighten-2(href='phone:+911234567890') +91 97699 89966





        include ./footer.pug
