doctype html
html
    head
        title SpArc
        include ./head.pug

        link(rel="stylesheet", href="/css/trial.css")

    body
        #panel-1
            .container
                .full-width.screen-height.valign-wrapper
                    .full-width
                        h1#intro-head.center.white-text SpArc

                .full-width.card.rounded.padded
                    h2.center Intro
                    p.center.flow-text Lots of text. Lots of text. Lots of text. Lots of text. Lots of text. Lots of text. Lots of text. Lots of text. Lots of text. Lots of text. Lots of text. Lots of text. Lots of text.

                    #banner-1.card.yellow.darken-1
                        .row
                            .col.s8.push-s2.m4
                                h3.center.white-text.strong 56
                                p.center.white-text label
                            .col.s8.push-s2.m4
                                h3.center.white-text.strong 56
                                p.center.white-text label
                            .col.s8.push-s2.m4
                                h3.center.white-text.strong 56
                                p.center.white-text label


                    .row
                        .col.s10.push-s1.m4
                            .card.small
                                .card-image.waves-effect.waves-block.waves-light
                                    img.activator(src='/images/landscaping.jpg')
                                .card-content
                                    span.card-title.activator.grey-text.center.text-darken-4 Landscaping
                                .card-reveal.white.lighten-4.black-text
                                    span.card-title.grey-text.text-darken-4.center
                                        | Landscaping
                                        i.material-icons.right close
                                    table.centered.highlight
                                        tbody
                                            tr
                                                td
                                                    a(href='#') Farm House
                                            tr
                                                td
                                                    a(href='#') Bunglows
                                            tr
                                                td
                                                    a(href='#') Commercial

                        .col.s10.push-s1.m4
                            .card.small
                                .card-image.waves-effect.waves-block.waves-light
                                    img.activator(src='/images/landscaping.jpg')
                                .card-content
                                    span.card-title.activator.grey-text.center.text-darken-4 Landscaping
                                .card-reveal.white.lighten-4.black-text
                                    span.card-title.grey-text.text-darken-4.center
                                        | Landscaping
                                        i.material-icons.right close
                                    table.centered.highlight
                                        tbody
                                            tr
                                                td
                                                    a(href='#') Farm House
                                            tr
                                                td
                                                    a(href='#') Bunglows
                                            tr
                                                td
                                                    a(href='#') Commercial

                        .col.s10.push-s1.m4
                            .card.small
                                .card-image.waves-effect.waves-block.waves-light
                                    img.activator(src='/images/landscaping.jpg')
                                .card-content
                                    span.card-title.activator.grey-text.center.text-darken-4 Landscaping
                                .card-reveal.white.lighten-4.black-text
                                    span.card-title.grey-text.text-darken-4.center
                                        | Landscaping
                                        i.material-icons.right close
                                    table.centered.highlight
                                        tbody
                                            tr
                                                td
                                                    a(href='#') Farm House
                                            tr
                                                td
                                                    a(href='#') Bunglows
                                            tr
                                                td
                                                    a(href='#') Commercial

            include ./footer.pug

        script(src="https://cdnjs.cloudflare.com/ajax/libs/tilt.js/1.2.1/tilt.jquery.min.js")
        script(src="/js/trial.js")










