#menufont {
    font-family: 'Raleway', sans-serif;
}

#lineone{
    width: 150px;
}
#main {

    overflow: hidden;
}

#imagecont {
    width: 200px;
}

#image-logo {
    align-content: center;
    display: block;
    margin-left: 45px;
}

/*
hr {
    width: 200px;
}
*/

#line {
    width: 100%;
}


#about-container {
    background-color: #f5f5f5 ;
    width: 100%;

}

#define {

    font-family: 'Raleway', sans-serif;

}

#define-1 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

#define-2 {
    width: 75%;
}

#bodywrap {
    font-family: 'Raleway', sans-serif;
    padding: 20px;
    height: 200px;
    width: 100%;
    background-color: #f5f5f5 ;
    color: #808080;
    overflow: hidden;
    text-align: center;
}

/*-=-=-=-=-=-=-=-=-=-=-=- */

/* Column Grids */

/*-=-=-=-=-=-=-=-=-=-=-=- */

.col_half {
    width: 49%;
}

.col_third {
    width: 32%;
}

.col_fourth {
    width: 18%;
}

.col_fifth {
    width: 18.4%;
}

.col_sixth {
    width: 15%;
}

.col_three_fourth {
    width: 74.5%;
}

.col_twothird {
    width: 66%;
}

.col_half,
.col_third,
.col_twothird,
.col_fourth,
.col_three_fourth,
.col_fifth {
    position: relative;
    display: inline;
    display: inline-block;
    float: left;
    margin-left: 12%;
    margin-bottom: 20px;
}

.end {
    margin-right: 0 !important;
}

/* Column Grids End */

#bodywrap {
    width: 980px;
    margin: 30px auto;
    position: relative;
}

.counter {
    background-color: #ffffff;
    padding: 20px 0;
    border-radius: 5px;
}

.count-title {
    font-size: 40px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.count-text {
    font-size: 13px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.fa-2x {
    margin: 0 auto;
    float: none;
    display: table;
    color: #4ad1e5;
}


/*cards*/

#one {
    text-align: center;
    height: 150px;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
}
#workingfield {
    font-size: 20px;
    font-weight: 400;
        text-align: center;
    letter-spacing: 2px;
}

#fieldtitle {
    font-size: 30px;
}

#row1 {

    overflow: hidden;

}

#three{
    text-align: center;
    word-spacing: 2px;
    align-content: center;
}

#pic{
  min-height: 100%;
  height: 100%;
    width: 100%;
  position: relative;
  overflow: hidden;
}

#backimage {
  width: 110%;
  height: 300%;
    width: 400%;
  left: 0;
  top: 0;
  position: absolute;
  background-image: url(/images/architecture-bay-bridge-356830.jpg);
}

/* Not needed styles */

#name{
  margin: 0;
  padding: 0;
  pointer-events: none;

  font-family: 'Raleway', sans-serif;
  z-index: 9;
  font-size: 150px;
    font-weight: 100;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%,-50%,0);
          transform: translate3d(-50%,-50%,0);
}
