/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
  width: 32px;
  height: 32px;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #ffffff;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}
