#panel-1 {
   background: url("/images/parallax.jpg") fixed;
}

#second {
   background: url("/images/parallax1.jpg") fixed;
}

#intro-head {
    font-size: 15em;
    border: 0.05em solid white;
    font-weight: 500;
}

#banner-1 {
    width: 110%;
    left: -5%;
}



.padded {
    padding: 1em;
}

.strong {
    font-weight: 600;
}

.rounded {
    border-radius: 8px;
}

.no-overflow {
    overflow: hidden;
}
